<div
  class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-b from-[#FFF5CD] to-[#FFCFB3] text-gray-800 cursor-pointer">
  <!-- Logo -->
  <img [ngSrc]="EDITOR_LOGO" width="100" height="100" alt="logo"
       class="w-64 mb-8 shadow-lg rounded-full border-4 border-[#F95454]"/>

  <!-- Title -->
  <h1 class="text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl text-[#F95454]">
    Welcome to <span class="text-[#E78F81] hover:text-[#F95454] duration-300">Angular Text Editor</span>
  </h1>

  <!-- Description -->
  <p class="mt-4 text-lg sm:text-xl text-gray-700">
    Create and edit your markdown files with ease and style!
  </p>

  <!-- Button -->
  <button
    type="button"
    (click)="goToMarkdownEditor()"
    class="mt-8 px-6 py-3 bg-[#E78F81] text-white text-lg font-medium rounded-lg shadow-md hover:bg-[#F95454] hover:text-[#FFF5CD] hover:shadow-xl transition duration-200 ease-in-out focus:outline-none focus:ring-4 focus:ring-[#FFF5CD]"
  >
    Go to Markdown Editor
  </button>
</div>
