<div class="container mx-auto">
  <form [formGroup]="markdownEditorForm" class="mt-4">
    <!-- contentEditable Div -->
    <div
      contentEditable
      formControlName="markdown"
      class="w-full min-h-48 border border-green-200 rounded p-2"
    ></div>
  </form>

  <!-- Markdown Bileşeni -->
  <section class="p-4 shadow-sm border mt-4 rounded">
    <markdown class="custom-markdown"
      lineNumbers
      lineHighlight
      emoji
      katex
      mermaid
      clipboard
      [clipboardButtonComponent]="copyClipboardComponent"
      [katexOptions]="options"
      [line]="'2, 2-5'"
      [lineOffset]="1"
      [start]="1"
      [inline]="false"
      [data]="markdown"
    >
    </markdown>
  </section>



  <h1>TEST</h1>
</div>
